nb-card.lightbox {
  max-width: 80vw;
  position: relative;
}

.lightbox nb-card-header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lightbox nb-card-body {
  padding: 0;
  height: 80vh;
}

.clear {
  clear: both;
}

.image-container {
  width: 100%;
  height: 100%;
}

.lightbox img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#close-icon {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .5s;
}
